In [71]:
# Questions for class: 1) Should I commit and push my venv? I tried to add it to gitignore, but it isn't working.

In [72]:
import pandas as pd

In [73]:
# import netflix data csv.
df = pd.read_csv('viewing-activity-data.csv')

In [74]:
# number of rows and columns
df.shape

(39389, 10)

In [75]:
# show data rows.
df.head(2)

,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country
0,Brother Two,2/18/2022 8:36,0:19:03,NaN,Komi Can't Communicate: Season 1: It's just th...,NaN,DefaultWidevineAndroidPhone,0:24:01,0:24:01,US (United States)
1,Brother Two,2/18/2022 7:10,0:03:43,NaN,Komi Can't Communicate: Season 1: It's just th...,NaN,DefaultWidevineAndroidPhone,0:03:53,Not latest view,US (United States)

In [76]:
# remove coulumns you do not want to analyze by adding them to df.drop
# QUESTION: Do you recomend cleaning data in csv or python? 
df = df.drop(['Attributes', 'Supplemental Video Type', 'Device Type', 'Bookmark', 'Latest Bookmark', 'Country'], axis=1)
df.head(2)

,Profile Name,Start Time,Duration,Title
0,Brother Two,2/18/2022 8:36,0:19:03,Komi Can't Communicate: Season 1: It's just th...
1,Brother Two,2/18/2022 7:10,0:03:43,Komi Can't Communicate: Season 1: It's just th...

In [77]:
# provides a list of the data types for each column
df.dtypes

Profile Name    object
Start Time      object
Duration        object
Title           object
dtype: object

In [78]:
# convert Start Time from object to datetime
# attach UTC to datetime format 
df['Start Time'] = pd.to_datetime(df['Start Time'], utc=True)
df.dtypes

Profile Name                 object
Start Time      datetime64[ns, UTC]
Duration                     object
Title                        object
dtype: object

In [79]:
# change Start Time column into the dataframe's index
df = df.set_index('Start Time')

# convert from UTC to eastern time
df.index = df.index.tz_convert('US/Eastern')

# reset the index so that Start Time becomes a column again
df = df.reset_index()

df.head(1)

,Start Time,Profile Name,Duration,Title
0,2022-02-18 03:36:00-05:00,Brother Two,0:19:03,Komi Can't Communicate: Season 1: It's just th...

In [80]:
# convert Duration from object to timedelta
df['Duration'] = pd.to_timedelta(df['Duration'])
df.dtypes

Start Time      datetime64[ns, US/Eastern]
Profile Name                        object
Duration                   timedelta64[ns]
Title                               object
dtype: object

In [93]:
# create a new datafrom called American Horror Story (ahs) that pulls from df
# pulls only rows with the Title column containing American Horror Story
ahs = df[df['Title'].str.contains('American Horror Story', regex=False)]
ahs.sample(20)

,Start Time,Profile Name,Duration,Title
34558,2017-12-03 17:23:00-05:00,Me,0 days 00:00:42,American Horror Story: Coven: Fearful Pranks E...
6154,2016-10-05 15:47:00-04:00,Brother Two,0 days 00:06:08,American Horror Story: Hotel: Chutes and Ladde...
6161,2016-10-04 20:56:00-04:00,Brother Two,0 days 00:01:01,American Horror Story: Hotel: Checking In (Epi...
34560,2017-12-03 16:29:00-05:00,Me,0 days 00:00:10,American Horror Story: Coven: The Replacements...
3445,2018-10-22 02:44:00-04:00,Brother Two,0 days 00:09:10,American Horror Story: Cult: Drink the Kool-Ai...
6142,2016-10-08 10:12:00-04:00,Brother Two,0 days 00:45:58,American Horror Story: Hotel: Ten Commandments...
3458,2018-10-18 02:30:00-04:00,Brother Two,0 days 00:49:10,American Horror Story: Cult: 11/9 (Episode 4)
34562,2017-12-01 23:35:00-05:00,Me,0 days 00:00:01,American Horror Story: Coven: Fearful Pranks E...
6159,2016-10-04 20:58:00-04:00,Brother Two,0 days 01:02:02,American Horror Story: Hotel: Checking In (Epi...
6140,2016-10-08 12:48:00-04:00,Brother Two,0 days 00:49:57,American Horror Story: Hotel: She Gets Revenge...
32323,2020-11-13 19:11:00-05:00,Me,0 days 00:00:05,American Horror Story: Season 3_hook_primary_16x9
3451,2018-10-20 03:09:00-04:00,Brother Two,0 days 00:02:56,American Horror Story: Cult: Winter of Our Dis...
6144,2016-10-07 20:22:00-04:00,Brother Two,0 days 00:51:41,American Horror Story: Hotel: Room 33 (Episode 6)
3460,2018-10-17 02:40:00-04:00,Brother Two,0 days 00:36:46,American Horror Story: Cult: Don't Be Afraid o...
33496,2019-02-11 16:35:00-05:00,Me,0 days 00:04:56,American Horror Story: Roanoke: Chapter 1 (Epi...
3453,2018-10-20 00:23:00-04:00,Brother Two,0 days 00:42:36,American Horror Story: Cult: Valerie Solanas D...
32298,2020-11-26 19:53:00-05:00,Me,0 days 00:00:07,American Horror Story: Cult_hook_01_16x9
3434,2018-10-24 02:37:00-04:00,Brother Two,0 days 00:05:43,American Horror Story: Cult: Great Again (Epis...
6139,2016-10-08 13:50:00-04:00,Brother Two,0 days 00:46:11,American Horror Story: Hotel: Battle Royale (E...
3463,2018-10-16 00:31:00-04:00,Brother Two,0 days 00:23:10,American Horror Story: Cult: Election Night (E...