In [ ]:
import pandas as pd

In [20]:
#Import Netflix data csv.
df = pd.read_csv('viewing-activity-data.csv')

In [21]:
#Number of rows and columns.
df.shape

(39389, 10)

In [22]:
#Show data rows.
df.head(2)

,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country
0,Brother Two,2/18/2022 8:36,0:19:03,NaN,Komi Can't Communicate: Season 1: It's just th...,NaN,DefaultWidevineAndroidPhone,0:24:01,0:24:01,US (United States)
1,Brother Two,2/18/2022 7:10,0:03:43,NaN,Komi Can't Communicate: Season 1: It's just th...,NaN,DefaultWidevineAndroidPhone,0:03:53,Not latest view,US (United States)

In [23]:
#Remove coulumns you do not want to analyze by adding them to df.drop.
#QUESTION: Do you recomend cleaning data in csv or python? 
df = df.drop(['Attributes', 'Supplemental Video Type', 'Device Type', 'Bookmark', 'Latest Bookmark', 'Country'], axis=1)
df.head(1)

,Profile Name,Start Time,Duration,Title
0,Brother Two,2/18/2022 8:36,0:19:03,Komi Can't Communicate: Season 1: It's just th...

In [24]:
#Provides list of the data types for each column.
df.dtypes

Profile Name    object
Start Time      object
Duration        object
Title           object
dtype: object

In [ ]:
df['Start Time'] = pd.to_datetime(df['Start Time', utc=True])