In [71]:
# Questions for class: 1) Should I commit and push my venv? I tried to add it to gitignore, but it isn't working.

In [72]:
import pandas as pd

In [73]:
# import netflix data csv.
df = pd.read_csv('viewing-activity-data.csv')

In [74]:
# number of rows and columns
df.shape

(39389, 10)

In [75]:
# show data rows.
df.head(2)

,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country
0,Brother Two,2/18/2022 8:36,0:19:03,NaN,Komi Can't Communicate: Season 1: It's just th...,NaN,DefaultWidevineAndroidPhone,0:24:01,0:24:01,US (United States)
1,Brother Two,2/18/2022 7:10,0:03:43,NaN,Komi Can't Communicate: Season 1: It's just th...,NaN,DefaultWidevineAndroidPhone,0:03:53,Not latest view,US (United States)

In [76]:
# remove coulumns you do not want to analyze by adding them to df.drop
# QUESTION: Do you recomend cleaning data in csv or python? 
df = df.drop(['Attributes', 'Supplemental Video Type', 'Device Type', 'Bookmark', 'Latest Bookmark', 'Country'], axis=1)
df.head(2)

,Profile Name,Start Time,Duration,Title
0,Brother Two,2/18/2022 8:36,0:19:03,Komi Can't Communicate: Season 1: It's just th...
1,Brother Two,2/18/2022 7:10,0:03:43,Komi Can't Communicate: Season 1: It's just th...

In [77]:
# provides a list of the data types for each column
df.dtypes

Profile Name    object
Start Time      object
Duration        object
Title           object
dtype: object

In [78]:
# convert Start Time to datetime format
# attach UTC to datetime format 
df['Start Time'] = pd.to_datetime(df['Start Time'], utc=True)
df.dtypes

Profile Name                 object
Start Time      datetime64[ns, UTC]
Duration                     object
Title                        object
dtype: object

In [79]:
# change Start Time column into the dataframe's index
df = df.set_index('Start Time')

# convert from UTC to eastern time
df.index = df.index.tz_convert('US/Eastern')

# reset the index so that Start Time becomes a column again
df = df.reset_index()

df.head(1)

,Start Time,Profile Name,Duration,Title
0,2022-02-18 03:36:00-05:00,Brother Two,0:19:03,Komi Can't Communicate: Season 1: It's just th...