In [77]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

In [78]:
# import netflix data csv.
df = pd.read_csv('viewing-activity-data.csv')

In [79]:
# remove coulumns you do not want to analyze by adding them to df.drop
# QUESTION: Do you recomend cleaning data in csv or python? 
df = df.drop(['Attributes', 'Supplemental Video Type', 'Device Type', 'Bookmark', 'Latest Bookmark', 'Country'], axis=1)
df.head(2)

,Profile Name,Start Time,Duration,Title
0,Brother Two,2/18/2022 8:36,0:19:03,Komi Can't Communicate: Season 1: It's just th...
1,Brother Two,2/18/2022 7:10,0:03:43,Komi Can't Communicate: Season 1: It's just th...

In [80]:
# convert Start Time from object to datetime
# attach UTC to datetime format 
df['Start Time'] = pd.to_datetime(df['Start Time'], utc=True)
df.dtypes

Profile Name                 object
Start Time      datetime64[ns, UTC]
Duration                     object
Title                        object
dtype: object

In [81]:
# change Start Time column into the dataframe's index
df = df.set_index('Start Time')

# convert from UTC to eastern time
df.index = df.index.tz_convert('US/Eastern')

# reset the index so that Start Time becomes a column again
df = df.reset_index()

In [82]:
# convert Duration from object to timedelta
df['Duration'] = pd.to_timedelta(df['Duration'])
df.dtypes

Start Time      datetime64[ns, US/Eastern]
Profile Name                        object
Duration                   timedelta64[ns]
Title                               object
dtype: object

In [90]:
df_groupby_profile = df.groupby(['Profile Name'], as_index=False)['Duration'].sum()

In [91]:
df_groupby_profile

  Profile Name          Duration
0  Brother One  51 days 07:42:09
1  Brother Two 115 days 04:32:20
2           Me  83 days 07:23:10
3       Mother  55 days 02:56:30
4       Sister 338 days 11:05:33

In [92]:
df_groupby_profile.head(5)

  Profile Name          Duration
0  Brother One  51 days 07:42:09
1  Brother Two 115 days 04:32:20
2           Me  83 days 07:23:10
3       Mother  55 days 02:56:30
4       Sister 338 days 11:05:33

In [96]:
df_groupby_profile.dtypes

Profile Name             object
Duration        timedelta64[ns]
dtype: object

In [93]:
df_groupby_profile.to_csv('profile_watch_time.csv', index=False)

In [103]:
df_groupby_profile['Profile Name'].dt.days

AttributeError: Can only use .dt accessor with datetimelike values

In [100]:
df_days_watched = df_groupby_profile['Duration'].dt.days

In [101]:
df_days_watched

0     51
1    115
2     83
3     55
4    338
Name: Duration, dtype: int64

In [ ]:
df.plot.bar(x = 'Profile Name', y = 'Duration', color = 'red')